<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:replace="common/csrfheader::csrfheader">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h3>ログインフォーム</h3>
    <p th:if="${param.error}">Error! <span th:text="${errorMessage}"></span></p>
    <p style="color: red" th:if="${param.timeout}">長時間操作が無かったなどの理由でセッションが無効となっています。ログインをしてください。</p>
    <p style="color: red" th:if="${param.accessDenied}">ページにアクセスできません(認可エラー)</p>
    <form th:action="@{/login}" method="POST">
      <table>
        <tr>
          <td><label for="username">User:</label></td>
          <td><input type="text" id="username" name="username" placeholder="user id" /></td>
        </tr>
        <tr>
          <td><label for="password">Password</label></td>
          <td><input type="password" id="password" name="password" placeholder="password" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type="submit">ログイン</button></td>
        </tr>
      </table>
    </form>
    
  
  </body>
</html>